.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 100px;
  align-items: center;
}

.header__menu {
  padding: 5px 0;
  margin: 0 0 0 120px;
}

.logo {
  display: inline-block;
}

.header__top {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__list-item:not(:last-child) {
  margin: 0 40px 0 0;
}

.menu__list-link {
  line-height: 160%;
  color: var(--main-color);
  transition: color 0.3s;
}

.menu__list-link:hover:not(.menu__list-link--active) {
  color: var(--bg-color);
}

.menu__list-link--active {
  color: var(--title-color);
}

/* ############ MEDIA ############ */
@media (max-width: 1250px) {
  .main-top__bg {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .header {
    margin-bottom: 150px;
  }
}

@media (max-width: 767px) {
  .header {
    margin-bottom: 100px;
  }

  .header__container {
    min-height: 70px;
  }

  .header__container {
    justify-content: space-between;
  }

  .main-top__bg {
    display: none;
  }
}

@media (max-width: 580px) {
  .header__menu {
    margin: 0 0 0 20px;
  }

  .menu__list {
    padding-left: 0;
  }

  .menu__list-item:not(:last-child) {
    margin: 0 20px 0 0;
  }

  .header__top {
    margin-bottom: 50px;
  }
}