.main__bg {
  background: linear-gradient(180deg, #ccddff, #ffffff);
}

.main-top {
  padding: 150px 0 100px;
  margin-bottom: 150px;
}

.main-top__title {
  max-width: 645px;
  font-size: 80px;
  line-height: 110%;
  font-weight: 700;
  color: var(--title-color);
  animation-name: movechange-title;
  animation-duration: 2s;
  margin-bottom: 50px;
}

.main-top__desc {
  display: block;
  max-width: 380px;
  width: 100%;
  line-height: 160%;
  animation-name: movechange-desc;
  animation-duration: 2.5s;
  margin-bottom: 50px;
}

.btn {
  display: inline-block;
  font-weight: 700;
  background-color: var(--bg-color);
  color: var(--white-color);
  border-radius: 50px;
  padding: 18px 36px;
  transition: all 0.5s;
}

.main-top__btn {
  border: 1px solid transparent;
  animation-name: movechange-btn;
  animation-duration: 3s;
}

.main-top__btn:hover {
  background-color: var(--white-color);
  border: 1px solid #9c69e2;
  color: var(--bg-color);
}

.main-top__container-bg {
  max-width: 1250px;
  position: relative;
  margin: 0 auto;
}

.main-top__bg {
  height: 450px;
  object-fit: contain;
  position: absolute;
  right: 0px;
  bottom: 150px;
  margin-right: 10px;
  animation-name: movechange-bg;
  animation-duration: 3s;
}

@keyframes movechange-title {
  from {
    transform: translateX(-150px);
    opacity: 0.5;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes movechange-desc {
  from {
    transform: translateX(-150px);
    opacity: 0.5;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes movechange-btn {
  from {
    transform: translateX(-150px);
    opacity: 0.5;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes movechange-bg {
  from {
    transform: translateX(150px);
    opacity: 0.5;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.bank {
  display: grid;
  grid-template-columns: 40% auto;
  grid-gap: 10px;
  background-color: var(--coral-color);
  border-radius: 50px;
  margin-bottom: 150px;
}

.bank__img {
  max-height: 400px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0 10px;
  margin: auto;
}

.bank__content {
  padding: 100px 0;
  margin: auto 90px auto 80px;
}

.bank__title {
  max-width: 475px;
  font-size: 40px;
  line-height: 110%;
  font-weight: 700;
  color: var(--title-color);
  margin-bottom: 40px;
}

.bank__desc {
  display: block;
  line-height: 160%;
}

/* ############ FEATURES ############ */
.products__item-content--search,
.products__item-content--24-hours,
.products__item-content--print,
.products__item-content--security {
  width: 531px;
  height: 358px;
}

.products__item-content--search {
  background: url(../img/search.png) no-repeat;
}

.products__item-content--24-hours {
  background: url(../img/24-hours.png) no-repeat;
}

.products__item-content--print {
  background: url(../img/print-out.png) no-repeat;
}

.products__item-content--security {
  background: url(../img/security.png) no-repeat;
}

.products_item-content-inner {
  padding: 25px 50px 0 260px;
}

.features__title {
  font-size: 24px;
  font-weight: 700;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 50px;
}

.features__desc {
  display: block;
  max-width: 586px;
  width: 100%;
  line-height: 160%;
  text-align: center;
  margin: 0 auto 100px;
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 150px;
}

.products__item {
  max-width: 531px;
  margin-bottom: 50px;
  position: relative;
}

.products_item-content {
  position: relative;
}

.products__item-title {
  font-size: 24px;
  line-height: 130%;
  color: var(--title-color);
  margin-bottom: 10px;
}

.products__item-desc {
  height: 180px;
  font-size: 16px;
  line-height: 160%;
}

.products__item-link span {
  color: var(--title-color);
  position: relative;
  padding-right: 40px;
}

.products__item-link span:after {
  content: "";
  width: 23px;
  height: 16px;
  background-image: url(../img/products-arrow.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  right: 0;
}

/* ############ TESTIMONIALS ############ */
.testimonials {
  margin-bottom: 150px;
}

.testimonials__wrapper {
  background-color: var(--bg-color);
  border-radius: 50px;
  padding: 110px 0 60px 90px;
}

.testimonials__title {
  font-size: 40px;
  font-weight: 700;
  color: var(--white-color);
  margin: 0 0 90px;
}

.slider {
  display: flex;
  width: 2000px;
  padding-left: 0;
}

.slider__item {
  display: flex;
  max-width: 425px;
  max-height: 330px;
  background-color: var(--white-color);
  border: 1px solid var(--bg-color);
  box-shadow: 0 20px 0 var(--box-shadow);
  filter: var(--filter-shadow);
  border-radius: 20px;
  padding: 60px 60px 50px;
}

.slider__item--main {
  max-width: 645px;
  max-height: 330px;
  box-sizing: border-box;
  padding: 60px 60px 50px 70px;
}

.slider__item + .slider__item {
  margin-left: 20px;
}

.slider__item + .slider__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    270deg,
    #ffffff 9.75%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 20px;
  top: 0;
  left: 0;
}

.slider__info {
  margin-left: 30px;
}

.slider__title {
  font-size: 18px;
  color: var(--title-color);
  margin: 25px 0 5px;
}

.slider__job {
  display: inline-block;
  font-size: 14px;
  color: var(--bg-color);
  margin-bottom: 30px;
}

.slider__desc {
  max-height: 130px;
  line-height: 180%;
  overflow: auto;
  padding-right: 10px;
  margin: 0;
}

.slider__pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin: 60px 75px 0 0;
}

.pagination,
.arrows {
  display: flex;
  padding-left: 0;
}

.pagination__item + .pagination__item {
  margin-left: 10px;
}

.pagination__item-btn {
  width: 10px;
  height: 10px;
  background-color: var(--white-color);
  border-radius: 50%;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.pagination__item-btn--active {
  width: 20px;
  height: 20px;
  background-color: var(--purple-color);
}

.arrows__item-btn {
  font-size: 0;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.arrows__item-img--l {
  margin-right: 20px;
}

/* ############ MEDIA ############ */
@media (max-width: 1250px) {
  .bank {
    margin-bottom: 150px;
  }

  .products {
    flex-direction: column;
  }

  .products__item:nth-child(odd) {
    place-self: flex-start;
  }

  .products__item:nth-child(even) {
    place-self: flex-end;
  }
}

@media (max-width: 992px) {
  .bank__img {
    width: 100%;
  }

  .bank__content {
    margin: auto 20px auto 80px;
  }
}

@media (max-width: 840px) {
  .bank__title {
    font-size: 35px;
  }

  .bank__content {
    font-size: 90%;
  }

  .slider__item + .slider__item {
    display: none;
  }

  .slider {
    width: initial;
  }

  .testimonials__wrapper {
    padding: 50px 0 60px 0;
  }

  .slider__item--main {
    padding: 30px;
    margin: 0 auto;
  }

  .arrows__item-img--r {
    margin-right: 0;
  }

  .testimonials__title {
    text-align: center;
    margin-bottom: 40px;
  }

  .slider__pagination {
    justify-content: space-around;
    align-items: center;
    margin: 60px 0 0;
  }
}

@media (max-width: 767px) {
  .main-top {
    text-align: center;
    padding: 100px 0;
    margin-bottom: 0;
  }

  .main-top__title {
    font-size: 70px;
    margin: 0 auto 50px;
  }

  .main-top__desc {
    margin: 0 auto 50px;
  }

  .main-top__btn {
    width: 100%;
    padding: 18px 0;
  }

  .bank__img {
    display: none;
  }

  .bank {
    grid-template-columns: 1fr;
    position: relative;
    padding: 350px 10px 40px;
    margin-bottom: 100px;
  }

  .bank::after {
    content: "";
    width: 280px;
    height: 300px;
    background-image: url(../img/bank.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .bank__content {
    max-width: initial;
    padding: 0;
    margin: auto;
  }

  .bank__title {
    text-align: center;
    margin: 30px auto 20px;
  }

  .bank__desc {
    text-align: center;
    margin: 0 auto;
  }

  .features__title {
    margin-bottom: 30px;
  }

  .features__desc {
    margin: 0 auto 50px;
  }

  .products {
    margin-bottom: 50px;
  }

  .products__item:nth-child(odd),
  .products__item:nth-child(even) {
    place-self: center;
  }

  .slider__pagination {
    display: none;
  }

  .slider {
    margin: 0 20px;
  }

  .testimonials {
    margin-bottom: 100px;
  }

  .slider__info {
    margin-left: 0;
  }

  .slider__img {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .slider__title {
    margin: 30px 0 0 110px;
  }

  .slider__job {
    display: inline-block;
    margin: 0 0 30px 110px;
  }
}

@media (max-width: 580px) {
  .main-top {
    font-size: 90%;
  }

  .main-top__title {
    max-width: 420px;
    font-size: 40px;
    margin-bottom: 30px;
  }

  .main-top__desc {
    margin-bottom: 30px;
  }

  .bank__title {
    font-size: 25px;
  }

  .products_item-content-inner {
    max-width: initial;
    text-align: center;
    padding: 50px 10px;
  }

  .products__item-content--search,
  .products__item-content--24-hours,
  .products__item-content--print,
  .products__item-content--security {
    width: 100%;
    height: auto;
    border-radius: 50px;
    background-image: none;
    position: relative;
    padding-top: 200px;
    z-index: 0;
  }

  .products__item-content--search {
    background-color: var(--search-item);
  }

  .products__item-content--search::after {
    content: "";
    width: 232px;
    height: 211px;
    background-image: url(../img/mob-search.png);
    background-size: contain;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .products__item-content--search::before {
    content: "";
    width: 194px;
    height: 138px;
    background-image: url(../img/mob-search-decor.png);
    background-size: contain;
    position: absolute;
    bottom: 50px;
    left: 80%;
    transform: translateX(-80%);
    z-index: -1;
  }

  .products__item-content--24-hours {
    background-color: var(--hours-24-item);
  }

  .products__item-content--24-hours::after {
    content: "";
    width: 241px;
    height: 185px;
    background-image: url(../img/mob-24-hours.png);
    background-size: contain;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .products__item-content--24-hours::before {
    content: "";
    width: 148px;
    height: 106px;
    background-image: url(../img/mob-24-hours-decor.png);
    background-size: contain;
    position: absolute;
    bottom: 50px;
    left: 20%;
    transform: translateX(-20%);
    z-index: -1;
  }

  .products__item-content--print {
    background-color: var(--print-item);
  }

  .products__item-content--print::after {
    content: "";
    width: 226px;
    height: 167px;
    background-image: url(../img/mob-print.png);
    background-size: contain;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .products__item-content--print::before {
    content: "";
    width: 65px;
    height: 51px;
    background-image: url(../img/mob-print-decor.png);
    background-size: contain;
    position: absolute;
    top: 180px;
    right: 10%;
    transform: translateX(-10%);
    z-index: -1;
  }

  .products__item-content--security {
    background-color: var(--security-item);
  }

  .products__item-content--security::after {
    content: "";
    width: 235px;
    height: 205px;
    background-image: url(../img/mob-security.png);
    background-size: contain;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .products__item-content--security::before {
    content: "";
    width: 179px;
    height: 137px;
    background-image: url(../img/mob-security-decor.png);
    background-size: contain;
    position: absolute;
    bottom: 50px;
    left: 80%;
    transform: translateX(-80%);
    z-index: -1;
  }

  .products__item-title {
    margin-bottom: 20px;
  }

  .products__item-desc {
    height: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }

  .testimonials__title {
    font-size: 30px;
  }
}