.main__bg {
  background: linear-gradient(180deg, #ccddff, #FFFFFF);
}

.main-top {
  padding      : 150px 0 100px;
  margin-bottom: 150px;
}

.main-top__title {
  max-width         : 645px;
  font-size         : 80px;
  line-height       : 110%;
  font-weight       : 700;
  color             : var(--title-color);
  animation-name    : movechange-title;
  animation-duration: 2s;
  margin-bottom     : 50px;
}

@keyframes movechange-title {
  from {
    transform: translateX(-150px);
    opacity  : .5;
  }

  ;

  to {
    transform: translateX(0);
    opacity  : 1;
  }
}

.main-top__desc {
  display           : block;
  max-width         : 380px;
  width             : 100%;
  line-height       : 160%;
  animation-name    : movechange-desc;
  animation-duration: 2.5s;
  margin-bottom     : 50px;
}

@keyframes movechange-desc {
  from {
    transform: translateX(-150px);
    opacity  : .5;
  }

  ;

  to {
    transform: translateX(0);
    opacity  : 1;
  }
}

.btn {
  display         : inline-block;
  font-weight     : 700;
  background-color: #9C69E2;
  color           : #FFFFFF;
  border-radius   : 50px;
  padding         : 18px 36px;
  transition      : all .5s;
}

.main-top__btn {
  animation-name    : movechange-btn;
  animation-duration: 3s;
}

.main-top__btn:hover {
  background-color: #FFFFFF;
  border          : 1px solid #9C69E2;
  color           : #9C69E2;
}

@keyframes movechange-btn {
  from {
    transform: translateX(-150px);
    opacity  : .5;
  }

  ;

  to {
    transform: translateX(0);
    opacity  : 1;
  }
}

.main-top__container-bg {
  max-width: 1250px;
  position : relative;
  margin   : 0 auto;
}

.main-top__bg {
  height            : 450px;
  object-fit        : contain;
  position          : absolute;
  right             : 0px;
  bottom            : 150px;
  margin-right      : 10px;
  animation-name    : movechange-bg;
  animation-duration: 3s;
}

@keyframes movechange-bg {
  from {
    transform: translateX(150px);
    opacity  : .5;
  }

  ;

  to {
    transform: translateX(0);
    opacity  : 1;
  }
}

.bank {
  display              : grid;
  grid-template-columns: 40% auto;
  grid-gap             : 10px;
  background-color     : rgba(240, 99, 184, .15);
  border-radius        : 50px;
  margin-bottom        : 150px;
}

.bank__img {
  max-height: 400px;
  width     : 100%;
  height    : 100%;
  object-fit: contain;
  padding   : 0 10px;
  margin    : auto;
}

.bank__content {
  max-width: 475px;
  padding  : 100px 0;
  margin   : auto 10px auto 80px;
}

.bank__title {
  max-width    : 475px;
  font-size    : 40px;
  line-height  : 110%;
  font-weight  : 700;
  color        : var(--title-color);
  margin-bottom: 40px;
}

.bank__desc {
  display    : block;
  line-height: 160%;
}

/* ############ FEATURES ############ */
.products__item-content--search,
.products__item-content--24-hours,
.products__item-content--print,
.products__item-content--security {
  width            : 531px;
  height           : 358px;
  background-repeat: no-repeat;
}

.products__item-content--search {
  width            : 531px;
  height           : 358px;
  background       : url(../img/search.png);
  background-repeat: no-repeat;
}

.products__item-content--24-hours {
  width            : 531px;
  height           : 358px;
  background       : url(../img/24-hours.png);
  background-repeat: no-repeat;
}

.products__item-content--print {
  width            : 531px;
  height           : 358px;
  background       : url(../img/print-out.png);
  background-repeat: no-repeat;
}

.products__item-content--security {
  width            : 531px;
  height           : 358px;
  background       : url(../img/security.png);
  background-repeat: no-repeat;
}

.products_item-content-inner {
  display       : flex;
  flex-direction: column;
  max-width     : 480px;
  padding       : 30px 50px 0 250px;
}

.features__top-title {
  font-size    : 24px;
  font-weight  : 700;
  color        : var(--title-color);
  text-align   : center;
  margin-bottom: 50px;
}

.features__top-desc {
  display    : block;
  max-width  : 586px;
  width      : 100%;
  line-height: 160%;
  text-align : center;
  margin     : 0 auto 100px;
}

.products {
  display        : flex;
  justify-content: space-between;
  flex-wrap      : wrap;
  margin-bottom  : 150px;
}

.products__item {
  max-width    : 531px;
  margin-bottom: 50px;
  position     : relative;
}

.products_item-content {
  position: relative;
}

.products__item-title {
  font-size    : 24px;
  line-height  : 130%;
  color        : var(--title-color);
  margin-bottom: 30px;
}

.products__item-desc {
  height     : 180px;
  font-size  : 16px;
  line-height: 160%;
}

.products__item-link span {
  color        : #212353;
  position     : relative;
  padding-right: 40px;
}

.products__item-link span:after {
  content          : '';
  width            : 23px;
  height           : 16px;
  background-image : url(../img/products-arrow.png);
  background-repeat: no-repeat;
  position         : absolute;
  top              : 5px;
  right            : 0;
}

/* ############ TESTIMONIALS ############ */
.testimonials {
  margin-bottom: 150px;
}

.testimonials__wrapper {
  background-color   : #9C69E2;
  border-radius      : 50px;
  padding            : 110px 0 60px 90px;
  /* overflow        : hidden; */
}

.testimonials__title {
  font-size    : 40px;
  font-weight  : 700;
  color        : #FFFFFF;
  margin-bottom: 90px;
}

.slider {
  display: flex;
  width  : 2000px;
}

.slider__item {
  display         : flex;
  max-width       : 425px;
  max-height      : 330px;
  background-color: #FFFFFF;
  border          : 1px solid #9C69E2;
  box-shadow      : 0px 20px 0px rgba(156, 105, 226, .3);
  filter          : drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius   : 20px;
  padding         : 60px 60px 50px;
}

.slider__item--main {
  max-width : 645px;
  max-height: 330px;
  box-sizing: border-box;
  padding   : 60px 70px 50px;
}

.slider__item+.slider__item {
  margin-left: 20px;
}

.slider__item+.slider__item::after {
  content      : '';
  position     : absolute;
  width        : 100%;
  height       : 100%;
  background   : linear-gradient(270deg, #FFFFFF 9.75%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;
  top          : 0;
  left         : 0;
}

.slider__info {
  max-height : 220px;
  margin-left: 30px;
  overflow   : hidden;
}

.slider__title {
  font-size: 18px;
  color    : var(--title-color);
  margin   : 25px 0 5px;
}

.slider__job {
  display      : block;
  font-size    : 14px;
  color        : #9C69E2;
  margin-bottom: 30px;
}

.slider__desc {
  display    : inline-block;
  line-height: 180%;
}

.slider__buttons {
  display        : flex;
  justify-content: space-between;
  margin-top     : 60px;
}

.buttons,
.arrows {
  display: flex;
}

.buttons li+li {
  margin-left: 20px;
}

.buttons__btn {
  display         : block;
  width           : 10px;
  height          : 10px;
  background-color: #FFFFFF;
  border-radius   : 50%;
}

.buttons__btn--active {
  background-color: #F063B8;
}

.arrows__l {
  margin-right: 20px;
}

.arrows__r {
  margin-right: 75px;
}














/* ############ MEDIA ############ */
@media (max-width: 1250px) {
  .bank {
    margin-bottom: 150px;
  }

  .products {
    flex-direction: column;
  }

  .products__item:nth-child(odd) {
    place-self: flex-start;
  }

  .products__item:nth-child(even) {
    place-self: flex-end;
  }
}

@media (max-width: 992px) {
  .bank__img {
    width: 100%;
  }
}

@media (max-width: 840px) {

  .bank__title {
    font-size: 35px;
  }

  .bank__content {
    font-size: 90%;
  }

  .slider__item+.slider__item {
    display: none;
  }

  .slider {
    width: initial;
  }

  .testimonials__wrapper {
    padding: 50px 0 60px 0;
  }

  .slider__item--main {
    margin: 0 auto;
  }

  .arrows__r {
    margin-right: 0;
  }

  .testimonials__title {
    text-align   : center;
    margin-bottom: 40px;
  }

  .slider__buttons {
    justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .main-top {
    text-align   : center;
    padding      : 100px 0;
    margin-bottom: 0;
  }

  .main-top__title {
    font-size: 70px;
    margin   : 0 auto 50px;
  }

  .main-top__desc {
    margin: 0 auto 50px;
  }

  .main-top__btn {
    width  : 100%;
    padding: 18px 0;
  }

  .bank__img {
    display: none;
  }

  .bank {
    grid-template-columns: 1fr;
    position             : relative;
    padding              : 350px 10px 40px;
    margin-bottom        : 100px;
  }

  .bank::after {
    content          : '';
    width            : 280px;
    height           : 300px;
    background-image : url(../img/bank.svg);
    background-repeat: no-repeat;
    background-size  : contain;
    position         : absolute;
    top              : 50px;
    left             : 50%;
    transform        : translateX(-50%);
  }

  .bank__content {
    max-width: initial;
    padding  : 0;
  }

  .bank__title {
    text-align: center;
    margin    : 30px auto 20px;
  }

  .bank__desc {
    text-align: center;
    margin    : 0 auto;
  }

  .features__top-title {
    margin-bottom: 30px;
  }

  .features__top-desc {
    margin: 0 auto 50px;
  }

  .products {
    margin-bottom: 50px;
  }

  .products__item:nth-child(odd),
  .products__item:nth-child(even) {
    place-self: center;
  }

  .slider__buttons {
    display: none;
  }

  .slider {
    margin: 0 20px;
  }

  .testimonials {
    margin-bottom: 100px;
  }
}

@media (max-width: 580px) {
  .main-top {
    font-size: 90%;
  }

  .main-top__title {
    max-width    : 420px;
    font-size    : 40px;
    margin-bottom: 30px;
  }

  .main-top__desc {
    margin-bottom: 30px;
  }

  .bank__title {
    font-size: 25px;
  }

  .products {
    flex-direction: initial;
  }

  .products_item-content-inner {
    max-width : initial;
    text-align: center;
    padding   : 50px 20px;
  }

  .products__item-content--search,
  .products__item-content--24-hours,
  .products__item-content--print,
  .products__item-content--security {
    width           : 100%;
    height          : auto;
    border-radius   : 50px;
    background-image: none;
    position        : relative;
    padding-top     : 200px;
    z-index         : 0;
  }

  .products__item-content--search {
    background-color: #F0FAF8;
  }

  .products__item-content--search::after {
    content         : '';
    width           : 232px;
    height          : 211px;
    background-image: url(../img/mob-search.png);
    background-size : contain;
    position        : absolute;
    top             : 50px;
    left            : 50%;
    transform       : translateX(-50%);
  }

  .products__item-content--search::before {
    content         : '';
    width           : 194px;
    height          : 138px;
    background-image: url(../img/mob-search-decor.png);
    background-size : contain;
    position        : absolute;
    bottom          : 50px;
    left            : 80%;
    transform       : translateX(-80%);
    z-index         : -1;
  }

  .products__item-content--24-hours {
    background-color: #F5F0FC;
  }

  .products__item-content--24-hours::after {
    content         : '';
    width           : 241px;
    height          : 185px;
    background-image: url(../img/mob-24-hours.png);
    background-size : contain;
    position        : absolute;
    top             : 50px;
    left            : 50%;
    transform       : translateX(-50%);
  }

  .products__item-content--24-hours::before {
    content         : '';
    width           : 148px;
    height          : 106px;
    background-image: url(../img/mob-24-hours-decor.png);
    background-size : contain;
    position        : absolute;
    bottom          : 50px;
    left            : 20%;
    transform       : translateX(-20%);
    z-index         : -1;
  }

  .products__item-content--print {
    background-color: #FEEFF8;
  }

  .products__item-content--print::after {
    content         : '';
    width           : 226px;
    height          : 167px;
    background-image: url(../img/mob-print.png);
    background-size : contain;
    position        : absolute;
    top             : 50px;
    left            : 50%;
    transform       : translateX(-50%);
  }

  .products__item-content--print::before {
    content         : '';
    width           : 65px;
    height          : 51px;
    background-image: url(../img/mob-print-decor.png);
    background-size : contain;
    position        : absolute;
    top             : 180px;
    right           : 10%;
    transform       : translateX(-10%);
    z-index         : -1;
  }

  .products__item-content--security {
    background-color: #EAF5FB;
  }

  .products__item-content--security::after {
    content         : '';
    width           : 235px;
    height          : 205px;
    background-image: url(../img/mob-security.png);
    background-size : contain;
    position        : absolute;
    top             : 50px;
    left            : 50%;
    transform       : translateX(-50%);
  }

  .products__item-content--security::before {
    content         : '';
    width           : 179px;
    height          : 137px;
    background-image: url(../img/mob-security-decor.png);
    background-size : contain;
    position        : absolute;
    bottom          : 50px;
    left            : 80%;
    transform       : translateX(-80%);
    z-index         : -1;
  }

  .products__item-title {
    margin-bottom: 20px;
  }

  .products__item-desc {
    height       : auto;
    margin-left  : auto;
    margin-bottom: 20px;
  }

  .testimonials__title {
    font-size: 30px;
  }

  .slider__img {
    position: absolute;
    top     : 30px;
    left    : 20px;
  }

  .slider__info {
    max-height : 170px;
    margin-left: 0px;
  }

  .slider__title {
    margin: 0px 0 5px 100px;
  }

  .slider__item--main {
    max-height: 280px;
    padding   : 60px 20px 30px;
  }

  .slider__job {
    margin-left: 100px;
  }
}