html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  line-height: 1;
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}