@import 'header.css';
@import 'main.css';
@import 'footer.css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size  : 18px;
  font-weight: 500;
  color      : #4B5D68;
}

.title-color {
  color: #212353;
}