@import 'header.css';
@import 'main.css';
@import 'footer.css';

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-width  : 320px;
  height     : 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size  : 18px;
  font-weight: 500;
  color      : #4B5D68;
}

.wrapper {
  display       : flex;
  flex-direction: column;
  min-height    : 100%;
  overflow      : hidden;
}

.container {
  max-width : 1120px;
  box-sizing: content-box;
  padding   : 0 10px;
  margin    : 0 auto;
}

.main {
  flex: 1 1 auto;
}

:root {
  --title-color: #212353;
}