@import 'header.css';
@import 'main.css';
@import 'footer.css';

html {
  scroll-behavior: smooth;
}

body {
  min-width  : 320px;
  font-family: 'Ubuntu', sans-serif;
  font-size  : 18px;
  font-weight: 500;
  color      : #4B5D68;
}

:root {
  --title-color: #212353;
}